.dbmessageGreen, .dbmessageRed{
margin:200px auto 0 auto;
position:relative;
width:600px;
border : 3px solid #fff;
border-radius: 10px;
font-style:normal;
font-size:120%;
font-weight:normal;
color:#fff;   
text-align:center;
padding:12px 0 35px 0;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
text-shadow: 0px -1px #666;
line-height:1.4;
}

.dbmessageGreen{background-color:#6fc462;}

.dbmessageRed{background-color:red;}

table td{
padding: 6px 20px 6px 20px;
}

.addGemeinde{
float:left;
}

.tableClass{
float:left;
}

.addGemeinde form{
margin-right:50px;
padding: 6px 20px 6px 20px;
border:1px solid #444;
clear:right;
}

.addGemeinde form span{
float:right;
padding:8px 0;
}

h2 {
font-size:26px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 500;
color:#666;
}
#select1{margin: 25px 35px 35px 0;}

#select1{}

.gemeindeVer{}

